/* Estilos Universales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del HTML y Body */
html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

/* Estilos Base de los Elementos */

ol, ul { list-style: none;}

a { text-decoration: none;}

img { max-width: 100%;}

/* --- --- --- --- --- */

.contenedor_principal {
    width: 100%;
    min-height: 120vh;

    display: flex;
    flex-direction: column;
    background-color: #ffebb2;
}

/* --- Header --- */

.header {
    width: 100%;
    box-shadow: 0 5px 10px 0px #00000042;
    position: sticky;
    top: 0;
}

.header__container {
    width: 100%;
    padding: 4px 4px 8px 4px;
    background-color: #222;
}

.header__nav {
    width: 100%;

    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "header--logo header--barra header--login header--menu"
    "header--list header--list header--list header--list";
    gap: 6px;
}

.header__logo {
    grid-area: header--logo;
    user-select: none;
}

.header__logo h2 {
    color: rgb(25, 175, 221);
    font-weight: 800;
    font-size: 1.6rem;
}

/*Barra*/
.header__barra {
    grid-area: header--barra;
}

.header__barraBuscar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 60px;
    overflow: hidden;

    background-color: #fff;
}

#id__header__input_busqueda {
    font-size: 1rem;
    line-height: 1.6;
    width: 100%;
    padding-left: 6px;
    border: none;
    outline: none;
}

#id__header__input_busqueda::placeholder {
    user-select: none;
}

.header__barraBuscar--lupa {
    width: 30px;
    height: 30px;
    padding-right: 6px;

    border: none;
    background-color: transparent;
    user-select: none;
}

/*Login*/
.header__login {
    grid-area: header--login;
}

.header__login__contenido {
    width: 32px;
    height: 32px;
    user-select: none;
}

/*Menu*/
.header__menu {
    grid-area: header--menu;
}

#id__boton_menu_desplegable {
    width: 32px;
    height: 32px;
    padding: 3px;
    background-color: transparent;
    border: none;
    user-select: none;
}

/*Lista*/

.header__list {
    grid-area: header--list;

    display: flex;
    flex-direction: row;
    gap: 9px;

    overflow-x: scroll;
}

.header__list--item a {
    font-size: 1.1rem;
    font-weight: 700;
    color: #e2e2e2;
    user-select: none;
}





/* Footer */

.footer {
    width: 100%;
    margin-top: auto;
}

.footer__container {
    padding: 60px 20px;
    background-color: #333;
    color: #fff;
}