/* Estilos Universales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del HTML y Body */
html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

/* Estilos Base de los Elementos */

ul, ol { list-style: none;}

a { text-decoration: none;}

img { max-width: 100%;}

/* --- --- --- --- --- */


/* --- Contenedor Principal --- */

.contenedor_principal {
    width: 100%;
    min-height: 120vh;

    display: flex;
    flex-direction: column;

    background: radial-gradient(rgb(255, 237, 237), rgb(255, 224, 199));
}

/* --- Header --- */

.header {
    width: 100%;

    box-shadow: 0 6px 10px 0 #00000057;
}

.header__container {
    width: 100%;
    background-color: #222;
    padding: 4px 2px 8px 2px;
}

.header__nav {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: 
    "header--logo header--barraBusqueda header--login header--menu"
    "header--categorias header--categorias header--categorias header--categorias";
    gap: 8px;
}

/*Logo*/
.header__logo {
    grid-area: header--logo;
}

.header__logo > h2 {
    color: rgb(255, 157, 0);
    user-select: none;
}

/*Barra de Busqueda*/
.header__barraBusqueda {
    grid-area: header--barraBusqueda;
}

.barraBusqueda__barra {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #fff;
    border-radius: 32px;
    overflow: hidden;
}

.barrabusqueda__barra--cont__input {
    width: 100%;
}

.barrabusqueda__barra--cont__input input{
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.6;
    padding-left: 10px;
    border: none;
    outline: none;
}

.barrabusqueda__barra--cont__input input::placeholder{
    user-select: none;
}

.barrabusqueda__barra--cont__lupa {
    width: 36px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    padding: 2px 8px 2px 2px;
    user-select: none;
}

/*Login*/
.header__login {
    grid-area: header--login;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    user-select: none;
}

/*Menu*/
.header__menu {
    grid-area: header--menu;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    user-select: none;
}

.header__menu button {
    padding: 2px;

    border: none;
    background-color: transparent;
}

/*Categorias*/
.header__categorias {
    grid-area: header--categorias;
}

.header__categorias__list {
    width: 100%;
    
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.header__categorias__list--item {
    user-select: none;
}

.header__categorias__list--item > a {
    font-size: 1.1rem;
    color: #dfdfdf;
}

/* --- Header END --- */


/* --- Main --- */

.main {
    width: 100%;
}

/* --- Main END --- */


/* --- Footer --- */

.footer {
    width: 100%;

    margin-top: auto;
}

.footer__container {
    padding: 60px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}