/* Categorias */

.main__categorias {
    width: 100%;
}

.main__categorias__container {
    width: 100% 
}

/*Lista*/

#main__categorias__lista {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(6, 85px);
    grid-template-rows: 114px 114px;
    gap: 4px;
    overflow-x: scroll;
    padding-top: 8px;
    padding-left: 4px;
}

/*item*/

.main__categorias__lista--item__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    text-align: center;
}

.main__categorias__lista--item__img__container {
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    background-color: rgb(151, 151, 151);
    border-radius: 50%;
    overflow: hidden;

    
}

.main__categorias__lista--item__img__container img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}


.main__categorias__lista--item__data h3 {
    width: 100%;
    font-size: 1rem;
    color: #000;
}




/* Seccion Ofertas */

.section_ofertas {
    width: 100%;
    padding: 2px 10px;
}

.section_ofertas__list {
    width: 100%;

    overflow-x: scroll;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    grid-template-rows: 190px;
    gap: 4px;
}

.section__ofertas__list--item {
    background-color: #ffe6e6;

    display: flex;
    flex-direction: column;
}

.section__ofertas__list--item__cont--name {
    margin-top: auto;
}

.section__ofertas__list--item__cont-img {
    width: 100%;
    height: 100%;
}

.section__ofertas__list--item__cont-img img {
    min-width: 100%;
    min-height: 100%;
    object-position: center;
    object-fit: cover;
}

.section__ofertas__list--item__cont--name h3{
    color: orangered;
}

#h2-ofeta {
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 1;
    color: rgb(255, 61, 61);
}